

.container{
	width: 20%;
	overflow: hidden;
	background-color: lightblue;
	margin: 20px auto;
	padding: 20px;
}
.container ul{
	margin:0px;
	padding:0px;
	width: 100%
	height:300px;
}
.container ul li{
	list-style: circle;
	float: left;
	background-color: lightpink;
}
.container ul li .title{
	width: 100%;
	height:50px;
	background-color: white;
	text-align: center;
}

.pic{
	display: inline;
	width: 23%;
	height: 450px;
	float: left;
	margin-top: 160px;
	margin-left: 90px;

}
.mindset{
	margin-left:550px ;
	margin-top: 200px;
	background-color:lightpink;
	text-align: center;
	width:60%;
	border-radius: 20%;
	height: 100px;
}
.mindsetdata{
	background-color: red;
	width: 98.7%;
	text-align: left; 
	padding-left: 10px;
	border-radius: 10%;
	margin-top: 5px
}
html{
	font-family:"Comic Sans MS";
}
form{
	margin: 0 auto;
	width: 400px;
	padding: 1em;
	border:1px solid black;
	border-radius: 1em;
	background-color: lightgreen;
}
form div + div {
	margin-top: 1em;
}
label{
	display: inline-block;
	width: 90px;
	text-align: right;
	
	}
input , textarea{
	font: 2em "Comic Sans MS";
	width: 300px;
	box-sizing: border-box;
	border:1px solid #999;
}
input:focus,textarea:focus{
	border-color: #000
}
textarea{
	vertical-align: top;
	height: 5em;
}
.button{
	padding-left: 90px;
}
button{
	margin-left: .5em;
}

